/*BASE
-----------------------------------------------*/
body {
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, "Times New Roman", "YuGothic";
  line-height: 1.7;
  letter-spacing: 0.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*BLOCK
-------------------------------------------------*/
.header {
  padding: 70px 0 100px;
}
.header__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header__nav {
  width: 370px;
}
.header__ul {
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.header__a {
  font-size: 14px;
  color: #000000;
  font-family: Helvetica;
  font-weight: bold;
}

.footer {
  padding: 100px 0 60px;
  text-align: right;
}
.footer__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.unit {
  margin-bottom: 59px;
}
.unit__rubi {
  font-size: 12px;
  color: #898989;
  font-family: "YuGothic";
  margin-bottom: 20px;
}
.unit__title {
  font-size: 38px;
  font-weight: normal;
}
.unit__title::after {
  content: "";
  display: block;
  width: 120px;
  margin: 30px 0 60px;
  border-top: #000000 solid 1px;
}
.unit__ja {
  font-size: 14px;
  font-family: "YuGothic";
  margin-bottom: 40px;
}
.unit__en {
  font-size: 14px;
  font-family: "Times New Roman";
  font-style: italic;
}

.card__title {
  font-size: 20px;
  font-weight: normal;
  margin: 30px 0 15px;
}
.card__category {
  font-size: 12px;
  color: #898989;
}

.art__title {
  background-color: #e40065;
  color: #ffffff;
  display: inline;
  padding: 5px 13px 6px 11px;
  border-radius: 11.5px;
  height: 23px;
  font-size: 12px;
  font-family: "YuGothic";
}
.art__text {
  font-family: "YuGothic";
  font-size: 20px;
  margin-top: 30px;
}

/* INDEX
------------------------------------------------*/
.mainvisual {
  height: 500px;
  background: url(../images/pic_visual.png) no-repeat center center/cover;
  margin-bottom: 100px;
}

.works {
  margin-bottom: 59px;
}
.works__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.works__list {
  display: flex;
  justify-content: space-between;
}
.works__item {
  width: 32.2222222222;
}

.project {
  background-color: #FDF8EB;
  padding-top: 100px;
  padding-bottom: 100px;
}
.project__inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.project__list {
  display: flex;
  justify-content: space-between;
}
.project__item {
  width: 47.9%;
}
.project img {
  margin-bottom: 30px;
}

.ps {
  padding: 103px 0 100px;
  background-color: #000000;
  text-align: center;
}
.ps__title {
  color: #ffffff;
  font-size: 32px;
  font-family: "YuGothic";
  font-weight: normal;
  margin-bottom: 27px;
}
.ps__list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.ps__search {
  width: 300px;
  height: 40px;
  border: none;
}
.ps__submit {
  width: 100px;
  height: 40px;
  color: #ffffff;
  background-color: #e40065;
  border: none;
}
/*# sourceMappingURL=style.css.map */